<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gallery</h1>
                <ol class="breadcrumb">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="active">Gallery</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                    <%= link_to image_tag("clgallery/Cheang DDS (5).png", :class => 'img-responsive img-portfolio img-hover',:size => '700x300'), home_progress_path %>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Clinical</h3>
                <h4>This Gallery includes:</h4>
                <ul>
                    <li>Dental Offices</li>
                    <li>Doctor Offices</li>
                </ul>
                <p>Most of the projects shown in this gallery are customer inquired. We manufacture most of the clinical office needs.</p>
                <a class="btn btn-primary" <%= link_to "View Projects", home_progress_path%> </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <%= link_to image_tag("cogallery/kiosks/mallkiosk(1).png", :class => 'img-responsive img-portfolio img-hover',:size => '700x300'), home_progress_path %>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Commercial</h3>
                <h4>This Gallery includes: Mall Kiosks, Salons, and Restaurants.</h4>
                <ul>
                    <li>Mall Kiosks</li>
                    <li>Salons</li>
                    <li>Restaurants</li>
                    <li>Retail Stores</li>
                </ul>
                <p>Some projects from this Gallery were customer inquired. The salons include both custom and stock furniture that we manufacture at our factory.</p>
                <a class="btn btn-primary" <%= link_to "View Projects", home_progress_path%> </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                    <%= link_to image_tag("rgallery/Ulhmann_kitchen(3).png", :class => 'img-responsive img-portfolio img-hover',:size => '700x300'), home_progress_path %>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Residential</h3>
                <h4>This Gallery includes: </h4>
                <ul>
                    <li>Home Kitchens</li>
                    <li>Home Entertainment Centers</li>
                    <li>Beds</li>
                    <li>Closet Fixtures</li>
                </ul>
                <p>While we manufacture the shelving, the majority of the residential work comes from Joshua Cabinetry. </p>
                <a class="btn btn-primary" <%= link_to "View Projects", home_progress_path%> </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- /.row -->


        
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
