<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kitchens
                    <small>Residential Gallery</small>
                </h1>
                <ol class="breadcrumb">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Residential Gallery", gallery_residential_path %></li>
                    <li class="active">Kitchens</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(1).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(2).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(3).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(4).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/rkitchen(1).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/rkitchen(2).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/rkitchen(3).png") %>
                        </div>
                        <div class="item">
                            <%= link_to image_tag("rgallery/kitchens/rkitchen(4).png") %>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Kitchens</h3>
                <p>The Kitchens featured in this gallery involve the collaboration of Solid Solutions Design LLC and
                Joshua Cabinetry.</p>
                
                
                <!-- Projects Row Ulhmann-->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                    <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(1).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(2).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(3).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/Ulhmann_kitchen750x500(4).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
        </div>
        <!-- Projects Row rkitchen-->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                    <%= link_to image_tag("rgallery/kitchens/rkitchen(1).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/rkitchen(2).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/rkitchen(3).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="portfolio-item.html">
                    <%= link_to image_tag("rgallery/kitchens/rkitchen(4).png",:class => 'img-responsive img-portfolio img-hover', :size => '750x450') %>
                </a>
            </div>
        </div>
              

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

       

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
